################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Saphyre.Api/Saphyre.Api/bin/Debug/net6.0
/Saphyre.Api/Saphyre.Api/obj
/Saphyre.Api/.vs
/Saphyre.Client/Saphyre.Client/bin/Debug/net6.0
/Saphyre.Client/Saphyre.Client/obj/Debug/net6.0/build-gz
/Saphyre.Client/Saphyre.Client/obj/Debug/net6.0
/Saphyre.Client/Saphyre.Client/obj
/Saphyre.Client/.vs
Saphyre.Api/.vs/Saphyre.Api/v17/.suo
Saphyre.Client/.vs/Saphyre.Client/v17/.suo
