################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Saphyre.Api/Saphyre.Api/bin/Debug/net6.0
